<h2>@Html.ActionLink("View Titles", nameof(DefaultController.TitleList), new { mode = Request["mode"] })</h2>
<h2>@Html.ActionLink("View Artists", nameof(DefaultController.ArtistList), new { mode = Request["mode"] })</h2>
<h2>@Html.ActionLink("View Characters", nameof(DefaultController.CharacterList), new { mode = Request["mode"] })</h2>
