<h2><a href="@Url.Action(nameof(DefaultController.TitleList))">View Titles</a></h2>
<h2><a href="@Url.Action(nameof(DefaultController.ArtistList))">View Artists</a></h2>
<h2><a href="@Url.Action(nameof(DefaultController.CharacterList))">View Characters</a></h2>

